*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 font-family: 'Poppins', sans-serif;
 color: #44738D;
}

header{
 display: flex;
 justify-content: space-between;
 position: fixed;
 background-color: white;
 width: 100%;
 padding: 20px 30px;
 box-shadow: 1px 1px 5px black;
}

nav{
 align-self: center;
}

a{
 text-decoration: none;
 color: #44738D;
 margin-right: 10px;
}

nav a:hover{
 font-weight: bold;
}

.hero-container{
 display: flex;
 background-image: url(Images/black-mouse-wp.jpg);
 background-size: cover;
 height: 100vh;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
}

.profile-photo{
 width: 300px;
 border-radius: 100%;
 margin-top: 250px;
 margin-bottom: 20px;
 border:groove #44738D;
}

.hero-container h3{
 background-color: #fff;
 opacity: 0.6;
 padding: 5px;
 font-size: x-large;
}

.about-me-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

.description{
 text-align:center;
 margin: 35px 20px;
}

.about-me-bullets-container{
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 text-align: center;
 flex-wrap: wrap;
 padding-bottom: 35px;
 margin: 0 20px;
}

.about-me-bullets{
 padding-top: 20px;

}

.about-me-bullets i{
 font-size: 35px;
}

.skills{
 background-color: #44738D;
 color: #fff;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding-bottom: 35px;
 flex-wrap: wrap;
}

.skills-container{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 margin-top: 35px;
 flex-wrap: wrap;
}

.skills-container h4{
 padding: 5px;
}

.skills-list{
 display: flex;
 list-style: none;
 width: 300px;
 justify-content: center;
 align-items: flex-start;
 flex-wrap: wrap;
}

.skills-list li{
 padding: 5px;
}

.soft-skills-img{
 width: 100px;
}
.hard-skills-img{
 width: 150px;
}

footer{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 20px 30px;
}

footer p{
 margin-bottom: 10px;
}

.social-list{
 display: flex;
 list-style: none;
 justify-content: center;
 align-items: flex-start;
 flex-wrap: wrap;
}

.social-list li{
 font-size: 25px;
 margin-right: 20px;
}